{
  "extends": "eslint-config-standard",
  "rules": {
    "indent": [
      1,
      "tab"
    ],
    "no-tabs": 0,
    "semi": [
      1,
      "always"
    ],
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ],
    "no-inner-declarations": 0,
    "one-var": 0,
    "space-before-function-paren": 0,
    "key-spacing": 0,
    "no-useless-escape": 0,
    "generator-star-spacing": 0,
    "padded-blocks": 0,
    "spaced-comment": 0,
    "no-trailing-spaces": [
      2,
      {
        "skipBlankLines": true,
        "ignoreComments": true
      }
    ],
    "no-control-regex": 0,
    "no-undef": "off",
    "eol-last": [
      "warn"
    ]
  }
}