.step-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(#543b8b, 0.06);
  border-radius: 10px;
  padding: 14px 44px;

  &__title {
    flex: 1;
    min-height: 31px;
    background: url(/img/client-new/step/step-header-title.svg) no-repeat top
      left;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #322847;
    padding: 5px 0 0 47px;
    margin-right: 20px;
  }

  &-prices {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #543b8b;

    &__current {
      font-size: 26px;
    }
  }
}

.steps-counter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 32px;

  &-item {
    width: 254px;
    margin: 0 2px;

    &__line {
      height: 4px;
      background: rgba(104, 74, 184, 0.2);
      border-radius: 2px;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
    }

    &__number {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #e4def2;
      font-weight: 700;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      color: #543b8b;
      margin-right: 12px;
    }

    &__title {
      font-size: 12px;
      line-height: 150%;
      color: #322847;
    }

    &.steps-counter-item--active {
      .steps-counter-item__line {
        background: #543b8b;
      }

      .steps-counter-item__number {
        background: #543b8b;
        color: #ffffff;
      }
    }
  }
}

.steps-main {
  display: flex;
  padding: 35px 0 140px;
  @include tablet {
    flex-direction: column;
  }
}

.steps-formblock {
  flex: 1;
  background: #ffffff;
  border: 9px solid #543b8b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 42px 38px;
  position: relative;

  &__title {
    @extend .title;
    text-align: center;
  }

  &__subtitle {
    @extend .subtitle;
    margin-top: 6px;
  }

  &__text {
    @extend .text;
    max-width: 410px;
    text-align: center;
    margin: 6px auto 0;
  }
}

.steps-guarantees {
  width: 383px;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  @include tablet-mobile {
    width: 100%;
  }
  @include tablet {
    flex-direction: row;
    margin: 20px 0 0;
  }

  &-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #fbfaff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 36px 30px;
    margin-bottom: 17px;
    @include tablet {
      margin: 0 20px 0 0;
    }
    &:last-child {
      margin: 0;
    }

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
    }

    &__icon {
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eae7f1;
      border-radius: 7px;
      margin-right: 21px;
    }

    &__title {
      flex: 1;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      color: #322847;
      @include tablet {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 150%;
      color: rgba(#322847, 0.8);
    }
  }
}

.steps-form {
  max-width: 342px;
  margin: 20px auto 0;

  .form__submit button {
    min-width: 260px;
  }
}

.steps-agreement {
  margin: 12px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-payways {
  max-width: 384px;
  margin: 0 auto;

  &-header {
    padding-left: 17px;
  }

  &-title {
    @extend .title;
  }

  &-subtitle {
    @extend .subtitle;
    margin-top: 7px;
  }

  &-summary {
    margin-top: 17px;

    &__title {
      @extend .text2;
    }
    &__sum {
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      line-height: 160%;
      color: #322847;
      padding: 7px 0;

      &-current {
        font-size: 26px;
        font-weight: 600;
      }
    }
  }

  &-item {
    min-height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(84, 59, 139, 0.81);
    border-radius: 10px;
    padding: 12px 20px;
    margin: 11px 11px 0 0;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      transform: scale(1.02);
    }
    &:last-child {
      margin-right: 0;
    }

    &__text {
      @extend .text2;
      flex: 1;
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }

    &__images {
      display: flex;
      align-items: center;

      > img {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-card {
    background: #f5f4f8;
    border-radius: 6px;
    padding: 20px;
    margin-top: 18px;

    &-currency {
      display: flex;
      align-items: center;

      &__title {
        @extend .text2;
        flex: 1;
        margin-right: 12px;
      }

      &-list {
        display: flex;
        align-items: center;

        &__item {
          border: 1px solid #ff3800;
          border-radius: 4px;
          background: transparent;
          font-family: "Gotham Pro", sans-serif;
          font-size: 12px;
          line-height: 160%;
          color: #ff3800;
          padding: 2px 7px 3px;
          margin-right: 8px;
          cursor: pointer;
          transition: 0.4s;
          &:last-child {
            margin-right: 0;
          }
          &:hover,
          &.steps-payways-card-currency-list__item--active {
            background: #ff3800;
            color: #ffffff;
          }
        }
      }
    }
  }

  &-installment {
    padding-left: 17px;
    margin-top: 25px;

    &__title {
      @extend .text2;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
