.page {
  position: relative;
  z-index: 10;
}

.success-layout {
  @include mobile {
    background: url(/img/client-new/common/main-bg.svg) no-repeat center top / 100% auto;
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0 100px;
  @include mobile {
    padding: 0 0 60px;
  }

  &__image {
    @include mobile {
      width: 202px;
      height: 202px;
      margin: 0 auto;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #322847;
    margin-top: 20px;
    @include mobile {
      font-size: 22px;
      line-height: 27px;
      margin-top: 7px;
    }
  }

  &__text {
    @extend .text2;
    max-width: 420px;
    margin-top: 12px;
  }

  &-contacts {
    max-width: 420px;
    margin-top: 20px;
    @include mobile {
      margin-top: 12px;
    }

    &__title {
      font-size: 14px;
      line-height: 160%;
      color: rgba(72, 72, 77, 0.8);
      margin-bottom: 10px;
      @include mobile {
        font-size: 12px;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile {
        flex-direction: column;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      margin-right: 35px;
      @include mobile {
        margin: 0 0 6px;
      }
      &:hover {
        text-decoration: none;
      }
      &:last-child {
        margin: 0;
      }

      &__icon {
        width: 25px;
        height: 25px;
        object-fit: contain;
        margin-right: 10px;
      }

      &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        color: #322847;
        @include mobile {
          font-size: 16px;
        }
      }
    }
  }

  &__more {
    margin-top: 50px;
    @include mobile {
      margin-top: 22px;
    }
  }
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9!important;
}