.title {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: #322847;
}

.title2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #322847;
}

.subtitle {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #322847;
}

.text {
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #322847;
}

.text2 {
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #322847;
}

.text-mute {
  font-family: "Gotham Pro", sans-serif;
  font-size: 12px;
  line-height: 150%;
  color: rgba(#2f2f34, 0.8);
}
