#modal-video .modal-content {
 padding: 0px;
}

.sec2 form input[type='submit'] {
 transition: 0.2s linear;
}

.sec2 .backlink {
 line-height: 16px;
 width: 150px;
 height: 20px;
 margin: 20px auto;
}

.sec2 .disable {
 pointer-events: none;
 opacity: 0.3;
}

.tostep1:hover {
 text-decoration: none;
}

.sec2 .links3 .anycard {
 font-size: 18px;
 margin-top: 40px;
}

.sec1 .zero .step3 .text, .sec1 .zero .step3 .text1, .sec1 .zero .step2 .text, .sec1 .zero .step2 .text1 {
 opacity: 0.5;
}

.sec1 .zero .step1 .text .circle, .sec1 .zero .step3 .text .circle, .sec1 .zero .step2 .text .circle {
 background: url(/img/bird1.svg) 45% 48% no-repeat;
 border: 1px solid #fff;
}

.step1text {
 display: none;
 font-size: 18px;
 padding: 35px 0px;
 text-align: center;
}

.disapear {
 display: none !important;
}

.sec2 .product {
 padding-right: 45px;
}

.sec2 .text {
 width: 100%;
}

.sec2 .textmanual {
 font-size: 18px;
 line-height: 30px;
 padding-left: 65px;
 padding-right: 100px;
 padding-top: 30px;
 padding-bottom: 30px;
}

.sec2 .important {
 font-size: 14px;
 color: #ff575d;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 30px;
}

.sec2 .manual .namelabel {
 display: inline-block;
 vertical-align: top;
 width: 290px;
 line-height: 40px;
 text-align: right;
 padding-right: 20px;
}

.sec2 .manual form {
 width: 600px;
 margin: 0 auto;
}

.sec2 .manual form input[type='text'] {
 display: inline-block;
 vertical-align: top;
 width: 300px;
 margin: 0;
 margin-bottom: 20px;
}

.sec2 select {
 width: 300px;
 height: 45px;
 border: 1px solid rgba(154, 154, 154, .85);
 background-color: #f9f9fe;
 padding-left: 20px;
 margin-bottom: 20px;
}

.sec2 textarea {
 width: 300px;
 height: 90px;
 border: 1px solid rgba(154, 154, 154, .85);
 background-color: #f9f9fe;
 padding-left: 20px;
 margin-bottom: 20px;
 resize: none;
}

.sec2 .intl-tel-input {
 margin-bottom: 20px;
}

.sec2 .manual .namelabel2 {
 line-height: 20px;
 margin-top: 1px;
 margin-bottom: 10px;
}

.sec2 .links1 .link5 {
 background: url(/img/manual.png) no-repeat;
}

.sec2 .textcenter {
 text-align: center;
}

.sec2 .success {
 text-align: center;
 color: #3acb58;
 font-size: 28px;
 line-height: 140%;
 letter-spacing: 0.7px;
 font-weight: 700;
 padding: 55px 0px;
}

.success {
 display: none;
}

a.disable_link {
 pointer-events: none !important;
 cursor: default;
}

@media (max-width: 960px) {
 #modal-video .close-button {
  top: 0px;
  right: 0px;
 }

 #modal-video .modal-content {
  width: 90%;
  margin-top: 80px;
 }
}

@media (max-width: 720px) {
 #modal-video .modal-content {
  width: 100%;
 }

 .sec1 .second .step2 {
  display: block !important;
 }

 .sec1 .second .step1 {
  display: none !important;
 }

 .sec1 .second .step3 {
  display: none !important;
 }

 .sec1 .zero .step2 {
  display: none !important;
 }

 .sec1 .zero .step1 {
  display: block !important;
 }

 .sec1 .zero .step3 {
  display: none !important;
 }

 .sec1 .first .step2 {
  display: block !important;
 }

 .sec1 .first .step1 {
  display: none !important;
 }

 .sec1 .first .step3 {
  display: none !important;
 }

 .sec2 .product {
  padding-top: 45px;
 }

 .sec2 .textmanual {
  padding-right: 20px;
  padding-left: 20px;
 }

 .sec2 .manual form {
  width: 300px;
 }

 .sec2 .manual .namelabel {
  text-align: left;
  display: block;
 }

 .sec1 .third .step2 {
  display: none;
 }
}

.lds-spinner {
 color: official;
 display: inline-block;
 position: relative;
 width: 64px;
 height: 64px;
}

.lds-spinner div {
 transform-origin: 32px 32px;
 animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
 content: " ";
 display: block;
 position: absolute;
 top: 3px;
 left: 29px;
 width: 5px;
 height: 14px;
 border-radius: 20%;
 background: #fff;
}

.lds-spinner div:nth-child(1) {
 transform: rotate(0deg);
 animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
 transform: rotate(30deg);
 animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
 transform: rotate(60deg);
 animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
 transform: rotate(90deg);
 animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
 transform: rotate(120deg);
 animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
 transform: rotate(150deg);
 animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
 transform: rotate(180deg);
 animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
 transform: rotate(210deg);
 animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
 transform: rotate(240deg);
 animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
 transform: rotate(270deg);
 animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
 transform: rotate(300deg);
 animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
 transform: rotate(330deg);
 animation-delay: 0s;
}

@keyframes lds-spinner {
 0% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}

.spinner-layout {
 display: none;
 width: 100vw;
 height: 100vh;
 background: rgba(0,0,0,0.6);
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
}

.spinner-scrollarea {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.success.success--fail {
 color: #f44336;
}

.sec1 .step.step--fail .text .circle {
 background: url(/img/icon-cross.svg) no-repeat center / 40%, #f44336;
}

.sec1 .step.step--process .text .circle {
 background: url(/img/icon-process.svg) no-repeat center / 45%, #E5BF43;
}

.block-header .block-header__title {
 font-family: RobotoBold, sans-serif;
 font-size: 28px;
 line-height: 140%;
 text-align: center;
 padding: 60px 20px;
}

.monobank-failure {

}

.monobank-failure .monobank-failure__btn {
 width: 320px;
 display: block;
 border: none;
 background-color: #1ac33d;
 color: #fff;
 line-height: 140%;
 font-family: RobotoBold, sans-serif;
 font-size: 20px;
 text-transform: uppercase;
 text-align: center;
 padding: 14px 45px;
 margin: 20px auto 120px;
 cursor: pointer;
}
.monobank-failure .monobank-failure__btn:hover {
 text-decoration: none;
}


.monobank-process {
 display: flex;
 align-items: center;
 padding: 40px 20px;
}
.monobank-process .monobank-process__col {
 flex: 1;
 padding: 20px;
}

.monobank-process-item {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.monobank-process-item .monobank-process-item__img {

}
.monobank-process-item .monobank-process-item__title {
 font-family: RobotoBold, sans-serif;
 line-height: 130%;
 text-align: center;
 margin-top: 12px;
}

.monobank-process-status {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 20px;
 text-align: center;
 padding: 40px 0;
}
.monobank-process-status b {
 font-family: RobotoBold, sans-serif;
}
.monobank-process-status .monobank-process-status__btn {
 width: 32px;
 height: 32px;
 border: none;
 border-radius: 4px;
 background: url(/img/icon-process.svg) no-repeat center / 60%, #E5BF43;
 margin-left: 10px;
 cursor: pointer;
}


@media only screen and (max-width: 720px) {

 .sec1 {
  height: auto;
 }
 .sec1 .step {
  padding-bottom: 60px;
 }
 .sec1 .text1:after {
  bottom: 25px;
 }
 .sec2 .success {
  font-size: 20px;
 }
 .monobank-failure .monobank-failure__btn {
  width: 240px;
  font-size: 16px;
  padding: 12px 35px;
  margin: 0 auto 60px;
 }

 .block-header .block-header__title {
  font-size: 18px;
  padding: 30px 20px;
 }

 .monobank-process {
  flex-direction: column;
 }
 .monobank-process-item .monobank-process-item__img {
  max-width: 200px;
 }

 .monobank-process-status {
  padding-top: 0;
 }

}