// All scss variables should be in this file
// sizes
$lg: 1480px;
$md: 1200px;
$sm: 720px;
// colors
$color-white: #ffffff;
$color-white-022: rgba(255,255,255,0.22);
$color-white-08: rgba(255,255,255,0.8);
$color-black: #000000;
$color-black-084: rgba(0,0,0,0.84);
$color-black-07: rgba(0,0,0,0.7);
$color-black-05: rgba(0,0,0,0.5);
$color-black-04: rgba(0,0,0,0.4);
$color-black-03: rgba(0,0,0,0.3);
$color-black-02: rgba(0,0,0,0.2);
$color-black-01: rgba(0,0,0,0.1);
$color-tuna: #383C41;
$color-mine-shaft: #2A2A2A;
$color-cod-gray: #181818;
$color-cod-gray-08: rgba(24, 24, 24, 0.8);
$color-cod-gray-2: #0C0C0C;
$color-cod-gray-2-05: rgba(12, 12, 12, 0.5);
$color-cod-gray-3: #1F1B1B;
$color-cod-gray-4: #1E1E1E;
$color-bright-gray: #373A48;
$color-bright-gray-055: rgba(55, 58, 72, 0.55);
$color-tundora: #464646;
$color-pale-sky: #6B717B;
$color-scorpion: #5B5B5B;
$color-ship-gray: #3E3340;
$color-ship-gray-04: rgba(62, 51, 64, 0.4);
$color-emperor: #545151;
$color-emperor-02: rgba(84, 81, 81, 0.2);
$color-athens-gray-3: #F3F4F6;
$color-rolling-stone: #767C84;
$color-gull-gray: #A5ADBB;
$color-gray: #7F7F7F;
$color-silver-chalice: #A5A5A5;
$color-silver: #CCCCCC;
$color-bombay: #ACAEB3;
$color-seashell: #F1F1F1;
$color-athens-gray: #E4E7EC;
$color-athens-gray-2: #E8EAED;
$color-gallery: #ECECEC;
$color-gallery-2: #EFEFEF;
$color-gallery-3: #EBEBEB;
$color-mercury: #E8E8E8;
$color-mercury-2: #E9E9E9;
$color-concrete: #F3F3F3;
$color-concrete-05: rgba(243, 243, 243, 0.5);
$color-alabaster: #F7F7F7;
$color-alabaster-056: rgba(247, 247, 247, 0.56);
$color-alabaster-2: #F9F9F9;
$color-alto: #D6D6D6;
$color-alto-2: #D7D7D7;
$color-red: #FF010C;
$color-red-2: #ff010d;
$color-red-09: rgba(255, 1, 12, 0.9);
$color-red-08: rgba(255, 1, 12, 0.8);
$color-red-02: rgba(255, 1, 12, 0.2);
$color-razzmatazz: #F41D5F;
$color-torch-red: #FF0131;
$color-pizzaz: #FF8C01;
$color-web-orange: #FFA800;
$color-dodger-blue: #47AAFF;
$color-pattens-blue: #D7EDFF;
$color-malachite: #0BD46E;
$color-aero-blue: #AFFFD7;