footer.main-footer
    .container
        .main-footer-top
            .main-footer-info
                a(href="/").logo.logo--white.main-footer-info__logo
                p.main-footer-info__text 
                    | ТОВ "КОНСАЛТИНГ СИНДИКАТ", 
                    br
                    | ЕГРПОУ: 42182763, Адрес: 02000, 
                    br
                    | г. Киев, ул. Паньковская, 14, 3 этаж.
                .main-footer-socials
                    a(href="#").main-footer-social
                        img(src="/img/client-new/common/socials/vk.svg").main-footer-social__icon
                    a(href="#").main-footer-social
                        img(src="/img/client-new/common/socials/fb.svg").main-footer-social__icon
                    a(href="#").main-footer-social
                        img(src="/img/client-new/common/socials/yt.svg").main-footer-social__icon
                    a(href="#").main-footer-social
                        img(src="/img/client-new/common/socials/tg.svg").main-footer-social__icon
                    a(href="#").main-footer-social
                        img(src="/img/client-new/common/socials/in.svg").main-footer-social__icon
            .main-footer-menu-layout
                .main-footer-menu-block
                    p.footer-subtitle.main-footer-menu-title Курсы
                    .main-footer-menu
                        a(href="#").main-footer-menu__link  Маркетинг
                        a(href="#").main-footer-menu__link  Управление
                        a(href="#").main-footer-menu__link  Старт и развитие бизнеса
                        a(href="#").main-footer-menu__link  Финансы
                .main-footer-menu-block
                    p.footer-subtitle.main-footer-menu-title О Genius.Space
                    .main-footer-menu
                        a(href="#").main-footer-menu__link Мы и СМИ
                        a(href="#").main-footer-menu__link Команда
                        a(href="#").main-footer-menu__link Вакансии
                        a(href="#").main-footer-menu__link Оставить отзыв
                        a(href="#").main-footer-menu__link Отзывы
                .main-footer-menu-block
                    p.footer-subtitle.main-footer-menu-title Вебинары
                    .main-footer-menu
                        a(href="#").main-footer-menu__link Все вебинары
                        a(href="#").main-footer-menu__link Плейлисты
                        a(href="#").main-footer-menu__link Расписание
            .main-footer-contacts
                p.footer-subtitle.main-footer-contacts__title Контакты
                p.footer-text.main-footer-contacts__text
                    | Украина, Киев, Площадь Независимости, 2,
                    br
                    | Spaces Maidan Plaza, 02000
                    br
                    br
                    | +7 495 241 07 87 (Россия),
                    br
                    br
                    | +38 044 237 13 18 (Украина),
                    br
                    br
                    | info@geniusmarketing.me

        .main-footer-bottom
            p.main-footer-bottom__text © Genius.Space Все права защищены.
            .main-footer-bottom-links 
                a(href="#").main-footer-bottom-links__item Условия оказания услуг
                a(href="#").main-footer-bottom-links__item Политика конфиденциальности
                a(href="#").main-footer-bottom-links__item Условия возврата
                a(href="#").main-footer-bottom-links__item Условия предзаказа услуг
                a(href="#").main-footer-bottom-links__item Поставщики услуг
                a(href="#").main-footer-bottom-links__item Предупреждение

script(src='/js/libs.min.js')
script(src='/js/common.js')
script(src='/js/client-new.js')

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")