.steps-guarantees
    .steps-guarantees-item
        .steps-guarantees-item__header
            .steps-guarantees-item__icon
                img(src="/img/client-new/step/guarantee-return.svg")
            p.steps-guarantees-item__title Гарантия возврата<br /> средств
        p.steps-guarantees-item__text
            | Genius.Space <b>гарантирует возврат средств</b> за приобретенный цифровой продукт и/или услугу по требованию клиента.
            br
            br
            | Срок гарантийного периода регламентируется <b>договором об оказании услуг</b> (офертой).
    .steps-guarantees-item
        .steps-guarantees-item__header
            .steps-guarantees-item__icon
                img(src="/img/client-new/step/guarantee-protection.svg")
            p.steps-guarantees-item__title 100% защита<br /> персональных данных
        p.steps-guarantees-item__text
            | Вся информация о покупателях, их картах и проведённых оплатах защищена по <b>международному стандарту PCI DSS</b>, хранение данных регламентировано политиками <b>GDPR</b>, а номера карт передаются в <b>зашифрованном виде</b>.