header.main-header
    .container
        a(href="https://genius.space/").logo
        .lang-switcher
            .lang-switcher__current
            .lang-switcher-list
                a.lang-switcher-list__item