header.main-header
    .container
        a(href="/").logo
        .lang-switcher
            .lang-switcher__current UA
            .lang-switcher-list
                a(href="#").lang-switcher-list__item RU