.button {
  display: inline-block;
  border: none;
  background: #ff3800;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  padding: 22px 109px;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    transform: scale(1.04);
  }
}
