.button {
  display: inline-block;
  border: none;
  border: 1px solid #ff3800;
  background: #ff3800;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  padding: 22px 50px;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  @include mobile {
    padding: 17px 25px;
  }
  &:hover {
    transform: scale(1.04);
    text-decoration: none;
  }

  &.button--bordered {
    background: transparent;
    color: #ff3800;
  }
}
