.form {
  .formgroup {
    margin-top: 18px;
    &:first-child {
      margin-top: 0;
    }
  }

  &__submit {
    text-align: center;
    margin-top: 27px;
  }
}

.formgroup {
  label {
    margin-bottom: 8px;
  }
}

.label {
  display: block;
  font-weight: 700;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  line-height: 149%;
  color: rgba(#322847, 0.8);
}

.input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  line-height: 171%;
  color: #2f2f34;
  padding: 12px 16px;
}

.select {
  @extend .input;
  -webkit-appearance: none;
  background: url(/img/client-new/common/select-dropdown-block.svg) no-repeat
      center right 19px,
    #ffffff;
  padding-right: 56px;
  cursor: pointer;
}

.custom-checkbox {
  input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked ~ label {
      .custom-checkbox__box {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  label {
    font-family: "Gotham Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: rgba(#322847, 0.8);
    padding-left: 22px;
    position: relative;
    cursor: pointer;

    a {
      color: inherit;
      text-decoration: underline;
    }

    .custom-checkbox__box {
      width: 14px;
      height: 14px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      position: absolute;
      top: 3px;
      left: 0;
      &::before {
        content: "";
        width: 8px;
        height: 9px;
        background: url(/img/client-new/common/check-mark.svg) no-repeat center /
          contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.4s;
      }
    }
  }
}
