extends ../../layouts/main-admin

block contents
	// Preloader
	.preloader
		.cssload-speeding-wheel

	#wrapper
		include ./../../partials/admin/header
		include ./../../partials/admin/aside-menu

		// Page Content
		#page-wrapper
			.container-fluid
				.row.bg-title
					.col-lg-3.col-md-4.col-sm-4.col-xs-12
						h4.page-title Список платежів Monobank

				.row
					.col-sm-12
						.white-box
							.table-responsive
								table#table_orders.table.table-striped
									thead
										tr
											th ID
											th Імʼя
											th Телефон
											th Продукт
											th Статус
											th Сума, грн
											th Скасовано/Зроблено повернення
											th Сума повернення, грн
											th Дата
											th Дії


		include ./../../partials/admin/footer

		div#monoReturn.confirm-popup.popup-material__layout
			div.popup-material
				h2 Зробити повернення на суму 
				
				form#monoReturnForm
					.form-group
						input#monoReturnSum.form-control(name='return_sum' type="number" min="1" placeholder='Введіть суму поверненя' required=true)
					input#monoReturnOrderId(name="id" type="hidden")
					
					div#confirmButtons
						button(type="submit").button.button-yes Підтвердити
						a.button.button-no Скасувати

		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
		script(src='/plugins/bower_components/datatables/jquery.dataTables.min.js')
		script(src="/js/pages/admin/orders-list.js")
