extends ../../layouts/main-admin

block contents
	// Preloader
	.preloader
		.cssload-speeding-wheel

	#wrapper
		include ./../../partials/admin/header
		include ./../../partials/admin/aside-menu

		// Page Content
		#page-wrapper
			.container-fluid
				.row.bg-title
					.col-lg-3.col-md-4.col-sm-4.col-xs-12
						h4.page-title Список страниц оплаты
					.col-lg-9.col-sm-8.col-md-8.col-xs-12
						ol.breadcrumb
							li.active Все страницы оплаты
				.row
					.form-group
						.col-sm-4.m-b-20
							a.btn.btn-block.btn-outline.btn-rounded.btn-info.btn-lg(href="/admin/pages/new") Создать новую

				.row
					.col-sm-12
						.white-box
							.table-responsive
								table#table_pages.table.table-striped
									thead
										tr
											th ID
											th Название
											th Описание
											th Ссылка
											th Действия


		include ./../../partials/admin/footer

		script(src='/plugins/bower_components/datatables/jquery.dataTables.min.js')
		script(src="/js/pages/admin/pages-list.js")