extends ../../layouts/main-admin

block contents
	// Preloader
	.preloader
		.cssload-speeding-wheel
			link(rel='stylesheet' href='/stylesheets/css/jquery.clockpicker.css')

	#wrapper
		include ./../../partials/admin/header
		include ./../../partials/admin/aside-menu

		// Page Content
		#page-wrapper
			.container-fluid
				.row.bg-title
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h4.page-title Создание нового мерчанта
				.row
					.col-md-12
						.white-box
							form.form-horizontal(method='post' action='/admin/plata-merchants/new')
								.row
									.col-md-12
										.form-group
											label.col-md-2.control-label
											.col-md-10.checkbox.checkbox-success
												input#active(name="isActive" type='checkbox')
												label(for='active') Мерчант за замовчуванням
										.form-group
											label.col-md-2.control-label Назва мерчанта:
											.col-md-10
												input.form-control(name='name' placeholder='Введіть назву мерчанта' required=true)
										.form-group
											label.col-md-2.control-label ID мерчанта:
											.col-md-10
												input.form-control#id-input(name='ID' placeholder='Введите ID мерчанта' required=true value="")
										.form-group
											label.col-md-2.control-label Токен:
											.col-md-10
												input.form-control(name='token' placeholder='Введите токен' required=true)

								.form-group.m-b-0
									.col-md-offset-2.col-md-10
										button.btn.btn-success.btn-lg.waves-effect.waves-light.m-t-10(type='submit') Створити


		include ./../../partials/admin/footer

		script.
			$(window).load(function () {
				$("#id-input").val(Math.random().toString(36).slice(2, 7));
			})
