extends ../../layouts/main-admin

block contents
	// Preloader
	.preloader
		.cssload-speeding-wheel
			link(rel='stylesheet', href='/stylesheets/css/jquery.clockpicker.css')

	#wrapper
		include ./../../partials/admin/header
		include ./../../partials/admin/aside-menu

		// Page Content
		#page-wrapper
			.container-fluid
				.row.bg-title
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h4.page-title Курс валют
				.row
					.col-md-12
						.white-box
							form.form-horizontal(method='post', action='/admin/usdrates')
								.row
									.col-md-12
										each rate in usdrates
											if rate.currency !== 'RUB'
												.form-group
													label.col-md-1(style="margin-top: 10px;") 1 USD =
													.col-md-2
														input.form-control(name=rate.currency type="number" step=0.01 placeholder='Введите название продукта' required=true value=rate.price || 1)
													label.col-md-1(style="margin-top: 10px;") #{rate.currency}

								.form-group.m-b-0
									.col-md-offset-2.col-md-10
										button.btn.btn-success.btn-lg.waves-effect.waves-light.m-t-10(type='submit') Сохранить изменения


		include ./../../partials/admin/footer
