doctype html
html(lang='en')
	head
		title Welcome!
		link(rel="stylesheet" href="/stylesheets/css/index.css")
	body
		h1 Welcome to Node.js/Pug template project
		div.container
			p Start to develop your awesome project right now!

	script(src="/js/axios.min.js")
	script(src="/js/integration.js")
	//script.
		searchContactOrAddNew({});