doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Оплата участия
		// SEO
		meta(property='og:title', content='Оплата участия')
		meta(property='og:description', content='Оплата участия')
		meta(property='og:image', content='https://geniusmarketing.me/pic.png')
		meta(property='og:url', content='https://geniusmarketing.me/')
		meta(property='fb:admins', content='1510615147')
		meta(property='fb:app_id', content='473200492729081')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='/css/checkout/step3/libs.min.css')
		link(rel='stylesheet', href='/css/checkout/step3/main.min.css')
		link(rel='stylesheet', href='/css/checkout/step3/edit.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
	body
		// Google Tag Manager
		noscript
			iframe(src='//www.googletagmanager.com/ns.html?id=GTM-TRNP8W', height='0', width='0', style='display:none;visibility:hidden')
		script.
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push(
					{
						'gtm.start': new Date().getTime(),
						event      : 'gtm.js'
					});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TRNP8W');
		// End Google Tag Manager
		// SECTION 1
		.tostep1
			section.sec1(style="background-image: url(/img/bg1.jpg);")
				.container
					p.title.js_payment_title
					.steps
						.step.step1.inl
							p.text
								span.circle
								|  Шаг 1
							p.text1 Введите Ваши данные
						.arrow.inl
						.step.step2.inl
							p.text
								span.circle
								|  Шаг 2
							p.text1 Выберите способ оплаты
						.arrow.inl
						.step.step3.inl.step--process
							p.text
								span.circle
								|  Шаг 3
							p.text1 Оплата в процессе
		section.sec2
			.container
				.block
					.block-header
						p.block-header__title Подтвердите покупку частями в приложении Monobank
					.monobank-process
						.monobank-process__col
							.monobank-process-item
								img(src="/img/monobank-app-logo.png" alt="monobank logo" width="120").monobank-process-item__img
								p.monobank-process-item__title Откройте приложение<br> на Вашем смартфоне
						.monobank-process__col
							.monobank-process-item
								img(src="/img/monobank-payment.png" alt="monobank payment" width="240").monobank-process-item__img
								p.monobank-process-item__title Подтвердите покупку частями

					.monobank-process-status
						b Статус заказа:&nbsp;
						p#statusText Неоплачен
						button#statusCheck(title="Проверить статус" onclick="getOrderStatus(this)").monobank-process-status__btn


		// FOOTER
		footer.main-footer
			.container
				.footer1
					.copy-wrap
						p.copy
							img(src='/img/footer-logo.svg')
							br
							br
							| ТОВ "КОНСАЛТИНГ СИНДИКАТ"
							br
							| ЕГРПОУ: 42182763, Адрес: 01033, г. Киев,
							br
							| ул. Паньковская, 14
							br
				.footer2
					.footer-inline
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/politika-konfidencialnosti/') Политика конфиденциальности
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/otkaz-ot-otvetstvennosti/') Отказ от ответственности
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/soglasie-s-rassylkoj/') Согласие с рассылкой
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/politika-vozvrata-denezhnyx-sredstv/') Политика возврата
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/usloviya-oferty/') Публичный договор
				.footer3
					p.social
						| Присоединяйтесь к нам в социальных сетях:
						br.lg
						br
						a.icon-fb.icon-soc(href='https://www.facebook.com/GeniusMarketing.me/', target='_blank')
							i.fa.fa-facebook(aria-hidden='true')
						a.icon-inst.icon-soc(href='https://www.instagram.com/geniusmarketingofficial/', target='_blank')
							i.fa.fa-instagram(aria-hidden='true')
						a.icon-yt.icon-soc(href='https://www.youtube.com/user/Olestimofeev', target='_blank')
							i.fa.fa-youtube(aria-hidden='true')
					p.text4
						span.ru +38 (044) 237 13 18
						|  (Украина)
				.footer-line
				p.bottom-text
					| © Олесь Тимофеев & GeniusMarketing. Все права защищены. Любое копирование материалов разрешено
					br
					|  только с согласия правообладателей. По всем вопросам обращайтесь:
					a.mail(href='mailto:info@genius.space') info@genius.space
		// END FOOTER
		script.
			// Курс рубля к доллару
			var rub_cur = 66;
			// Курс гривны к доллару
			var uah_cur = 27;
			console.log('success');
		// HIDDEN ELEMENTS (MODALS)
		#modal-video.modal-overlay
			.modal-content
				.close-button
					.one
					.two
				#video-popup
		// END HIDDEN ELEMENTS (MODALS)
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
		script(src='/js/libs.min.js')
		script(src='/js/common.js')
		script.
			$("input.phone").intlTelInput(
				{
					utilsScript       : '/js/utils.js',
					defaultCountry    : 'auto',
					separateDialCode  : false,
					nationalMode      : false,
					preferredCountries: ['ua', 'ru', 'by', 'kz']
				});
		script.
			function getOrderStatus (element) {
				$(element).addClass('monobank-process-status__btn--rotate');
				setTimeout(function(){
					$(element).removeClass('monobank-process-status__btn--rotate');
				}, 1000);
				axios({
					method: "post",
					url: "/monobank/order_status",
					data: {
						order_id: getCookie("mono_order_id")
					}
				}).then(function (response) {
					if (response && response.data.result) {
						if (response.data.status === "SUCCESS") {
							window.location = "/monobank/success";
						} else if (response.data.status === "FAIL") {
							window.location = "/monobank/failure";
						}
					}
				});
			}
		script.
			var header_image = 'bg1.jpg';
			var payment_title = '#{productName}';
			var dollar_price = 990;
			if (Math.ceil(dollar_price * uah_cur) < 1000) {
				var hrn_price = Math.ceil(dollar_price * uah_cur);
			} else if ((Math.ceil(dollar_price * uah_cur) % 1000) < 10) {
				var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;00' + Math.ceil(dollar_price * uah_cur) % 1000;
			} else if ((Math.ceil(dollar_price * uah_cur) % 1000) < 100) {
				var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;0' + Math.ceil(dollar_price * uah_cur) % 1000;
			} else {
				var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;' + Math.ceil(dollar_price * uah_cur) % 1000;
			}
			if (Math.ceil(dollar_price * rub_cur) < 1000) {
				var rub_price = Math.ceil(dollar_price * rub_cur);
			} else if ((Math.ceil(dollar_price * rub_cur) % 1000) < 10) {
				var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;00' + Math.ceil(dollar_price * rub_cur) % 1000;
			} else if ((Math.ceil(dollar_price * rub_cur) % 1000) < 100) {
				var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;0' + Math.ceil(dollar_price * rub_cur) % 1000;
			} else {
				var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;' + Math.ceil(dollar_price * rub_cur) % 1000;
			}
			var tovar_id = 391746;
			var token_GR = 'b7QW';
			var CRM_id = 1185;
			var success_url = 'https://geniusmarketing.me/syndicate/2payments-entrepreneur-webinar/step1.php';
			if (step == '0') {
				$('.steps').addClass('zero');
				$('.step1text').fadeIn(0);
				$('.tostep1').addClass('disable_link');
			} else if (step == '1') {
				$('.steps').addClass('first');
				$('.price').removeClass('disapear');
				$('.product').removeClass('disapear');
			} else if (step == '2') {
				$('.steps').addClass('second');
				$('.price').removeClass('disapear');
				$('.product').removeClass('disapear');
			} else if (step == '3') {
				$('.steps').addClass('third');
				$('.success').fadeIn(0);
				$('.success').html('СПАСИБО!');
			} else if (step == '4') {
				$('.steps').addClass('third');
				$('.success').fadeIn(0);
				$('.success').html('ЗАПРОС НА ОПЛАТУ ЗАКАЗА УСПЕШНО ОТПРАВЛЕН');
			}
			$('#checktoken').val(token_GR);
			$('#checkrespo').val(success_url);
			$('#emailexist').val(success_url);
			$('#form_1').attr('onsubmit', 'return validate_with_exportCRM(form_1,' + CRM_id + ');');
			// $('#form_1').attr('onsubmit','return validate(form_1,' + CRM_id + ');');
			$('.js_payment_title').html(payment_title);
			$('.js_dollar_price').html(dollar_price);
			$('.js_hrn_price').html(hrn_price);
			$('.js_rub_price').html(rub_price);
			// if(rub_price > 15000){
			//   $('.links1 .link3').fadeOut(0);
			// }
			$('.js_tovar_id').val(tovar_id);
			$('.sec1').css('background-image', 'url(/img/' + header_image + ')');

		script(type='text/javascript').
			(function (d, w, s) {
				var widgetId = '22519',
								gcw = d.createElement(s);
				gcw.type = 'text/javascript';
				gcw.async = true;
				gcw.src = '//my.binotel.ua/getcall/widgets/' + widgetId + '.js';
				var sn = d.getElementsByTagName(s)[0];
				sn.parentNode.insertBefore(gcw, sn);
			})(document, window, 'script');
		//script(type='text/javascript').
		//	(function () {
		//		var widget_id = 'OkTveMoYQF';
		//		var d = document;
		//		var w = window;
		//
		//		function l() {
		//			var s = document.createElement('script');
		//			s.type = 'text/javascript';
		//			s.async = true;
		//			s.src = '//code.jivosite.com/script/widget/' + widget_id;
		//			var ss = document.getElementsByTagName('script')[0];
		//			ss.parentNode.insertBefore(s, ss);
		//		}
		//
		//		if (d.readyState == 'complete') {
		//			l();
		//		}
		//		else {
		//			if (w.attachEvent) {
		//				w.attachEvent('onload', l);
		//			}
		//			else {
		//				w.addEventListener('load', l, false);
		//			}
		//		}
		//	})();
		script#ss-gadget(src='https://customer.smartsender.eu/js/client/gd.min.js?v2.0.0' data-target='FJPXlTvX' data-domain='myminismm')
