h2 Не удалось оформить покупку частями

script(type='text/javascript').
  (function (d, w, s) {
    var widgetId = '22519',
            gcw = d.createElement(s);
    gcw.type = 'text/javascript';
    gcw.async = true;
    gcw.src = '//my.binotel.ua/getcall/widgets/' + widgetId + '.js';
    var sn = d.getElementsByTagName(s)[0];
    sn.parentNode.insertBefore(gcw, sn);
  })(document, window, 'script');
script(type='text/javascript').
  (function () {
    var widget_id = 'OkTveMoYQF';
    var d = document;
    var w = window;

    function l() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//code.jivosite.com/script/widget/' + widget_id;
      var ss = document.getElementsByTagName('script')[0];
      ss.parentNode.insertBefore(s, ss);
    }

    if (d.readyState == 'complete') {
      l();
    }
    else {
      if (w.attachEvent) {
        w.attachEvent('onload', l);
      }
      else {
        w.addEventListener('load', l, false);
      }
    }
  })();