form#form
	input#name(name="name" placeholder="Ваше полное имя" type="text")
	input#email(name="email" placeholder="Ваш основной email" type="email")
	input#phone(name="phone" placeholder="Ваш телефон" type="text")
	button(type="button" onclick="createDeal();") Оплатить

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
//script(src="https://zoho.geniusm.me/js/axios.min.js")
script.

	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return undefined;
	}

	function createDeal() {
		var contactID = getCookie("contactID") || null;

		var data = {
			"First_Name"  : document.getElementById("name").value,
			"Email"       : document.getElementById("email").value,
			"Phone"       : document.getElementById("phone").value,
			"productName" : "10 трендов эффективного интернет-продвижения в 2019",
			"productID"   : "3678676000000275004",
			"utm_campaign": getParameterByName("utm_campaign") || "",
			"utm_medium"  : getParameterByName("utm_medium") || "",
			"utm_source"  : getParameterByName("utm_source") || "",
			"utm_term"    : getParameterByName("utm_term") || "",
			"utm_content" : getParameterByName("utm_content") || "",
			"contactID"   : contactID,
			"Stage"       : "1. Заявка"
		};

		axios({
			method: "post",
			url   : "https://zoho.geniusm.me/deal",
			data  : data
		}).then(function (response) {
			if (response.data.result) {
				var dealID = response.data.dealID || null;
				contactID = response.data.contactID || contactID;

				var data2 = {
					"First_Name"  : document.getElementById("name").value,
					"Email"       : document.getElementById("email").value,
					"Phone"       : document.getElementById("phone").value,
					"productName" : "10 трендов эффективного интернет-продвижения в 2019",
					"productID"   : "3678676000000275004",
					"productPrice": 9.99,
					"currency"    : "USD",
					"contactID"   : contactID,
					"dealID"      : dealID
				};

				axios({
					method: "post",
					url   : "https://zoho.geniusm.me/sales_order",
					data  : data2
				})
					.then(function (response) {
						var salesOrderID = response.data.salesOrderID;

						var data3 = {
							Email             : document.getElementById("email").value,
							salesOrderID      : salesOrderID,
							productName       : "10 трендов эффективного интернет-продвижения в 2019",
							productPrice      : 9.99,
							currency          : "USD",
							paymentDescription: "Оплата продукта \"10 трендов эффективного интернет-продвижения в 2019\"",
							successURL        : "https://syndicate.geniusm.me",
							failureURL        : "https://ukr.net"
						};

						axios({
							method: "post",
							// url   : "http://localhost:3001/paypal/payment",
							url   : "https://zoho.geniusm.me/paypal/payment",
							data  : data3
						})
							.then(function (response) {
								if (response.data.result && response.data.link) {
									// console.log(response.data.link);
									window.location = response.data.link;
								} else if (response.data.error) {
									console.error(response.data.error);
								}
							});
					});
			}


		});
	}

	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
		var results = regex.exec(location.search);
		return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}


script(type='text/javascript').
	(function (d, w, s) {
		var widgetId = '22519',
						gcw = d.createElement(s);
		gcw.type = 'text/javascript';
		gcw.async = true;
		gcw.src = '//my.binotel.ua/getcall/widgets/' + widgetId + '.js';
		var sn = d.getElementsByTagName(s)[0];
		sn.parentNode.insertBefore(gcw, sn);
	})(document, window, 'script');
//script(type='text/javascript').
//	(function () {
//		var widget_id = 'OkTveMoYQF';
//		var d = document;
//		var w = window;
//
//		function l() {
//			var s = document.createElement('script');
//			s.type = 'text/javascript';
//			s.async = true;
//			s.src = '//code.jivosite.com/script/widget/' + widget_id;
//			var ss = document.getElementsByTagName('script')[0];
//			ss.parentNode.insertBefore(s, ss);
//		}
//
//		if (d.readyState == 'complete') {
//			l();
//		}
//		else {
//			if (w.attachEvent) {
//				w.attachEvent('onload', l);
//			}
//			else {
//				w.addEventListener('load', l, false);
//			}
//		}
//	})();
script#ss-gadget(src='https://customer.smartsender.eu/js/client/gd.min.js?v2.0.0' data-target='FJPXlTvX' data-domain='myminismm')
