#modal-video .modal-content {
 padding: 0px;
}

.sec2 form input[type='submit'] {
 transition: 0.2s linear;
}

.sec2 .backlink {
 line-height: 16px;
 width: 150px;
 height: 20px;
 margin: 20px auto;
}

.sec2 .disable {
 pointer-events: none;
 opacity: 0.3;
}

.tostep1:hover {
 text-decoration: none;
}

.sec2 .links3 .anycard {
 font-size: 18px;
 margin-top: 40px;
}

.sec1 .zero .step3 .text, .sec1 .zero .step3 .text1, .sec1 .zero .step2 .text, .sec1 .zero .step2 .text1 {
 opacity: 0.5;
}

.sec1 .zero .step1 .text .circle, .sec1 .zero .step3 .text .circle, .sec1 .zero .step2 .text .circle {
 background: url(/img/bird1.svg) 45% 48% no-repeat;
 border: 1px solid #fff;
}

.step1text {
 display: none;
 font-size: 18px;
 padding: 35px 0px;
 text-align: center;
}

.disapear {
 display: none !important;
}

.sec2 .product {
 padding-right: 45px;
}

.sec2 .text {
 width: 100%;
}

.sec2 .textmanual {
 font-size: 18px;
 line-height: 30px;
 padding-left: 65px;
 padding-right: 100px;
 padding-top: 30px;
 padding-bottom: 30px;
}

.sec2 .important {
 font-size: 14px;
 color: #ff575d;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 30px;
}

.sec2 .manual .namelabel {
 display: inline-block;
 vertical-align: top;
 width: 290px;
 line-height: 40px;
 text-align: right;
 padding-right: 20px;
}

.sec2 .manual form {
 width: 600px;
 margin: 0 auto;
}

.sec2 .manual form input[type='text'] {
 display: inline-block;
 vertical-align: top;
 width: 300px;
 margin: 0;
 margin-bottom: 20px;
}

.sec2 select {
 width: 300px;
 height: 45px;
 border: 1px solid rgba(154, 154, 154, .85);
 background-color: #f9f9fe;
 padding-left: 20px;
 margin-bottom: 20px;
}

.sec2 textarea {
 width: 300px;
 height: 90px;
 border: 1px solid rgba(154, 154, 154, .85);
 background-color: #f9f9fe;
 padding-left: 20px;
 margin-bottom: 20px;
 resize: none;
}

.sec2 .intl-tel-input {
 margin-bottom: 20px;
}

.sec2 .manual .namelabel2 {
 line-height: 20px;
 margin-top: 1px;
 margin-bottom: 10px;
}

.sec2 .links1 .link5 {
 background: url(/img/manual.png) no-repeat;
}

.sec2 .textcenter {
 text-align: center;
}

.sec2 .success {
 text-align: center;
 color: #3acb58;
 font-size: 28px;
 line-height: 24px;
 letter-spacing: 0.7px;
 font-weight: 700;
 padding: 55px 0px;
}

.success {
 display: none;
}

a.disable_link {
 pointer-events: none !important;
 cursor: default;
}

@media (max-width: 960px) {
 #modal-video .close-button {
  top: 0px;
  right: 0px;
 }

 #modal-video .modal-content {
  width: 90%;
  margin-top: 80px;
 }
}

@media (max-width: 720px) {
 #modal-video .modal-content {
  width: 100%;
 }

 .sec1 .second .step2 {
  display: block !important;
 }

 .sec1 .second .step1 {
  display: none !important;
 }

 .sec1 .second .step3 {
  display: none !important;
 }

 .sec1 .zero .step2 {
  display: none !important;
 }

 .sec1 .zero .step1 {
  display: block !important;
 }

 .sec1 .zero .step3 {
  display: none !important;
 }

 .sec1 .first .step2 {
  display: block !important;
 }

 .sec1 .first .step1 {
  display: none !important;
 }

 .sec1 .first .step3 {
  display: none !important;
 }

 .sec2 .product {
  padding-top: 45px;
 }

 .sec2 .textmanual {
  padding-right: 20px;
  padding-left: 20px;
 }

 .sec2 .manual form {
  width: 300px;
 }

 .sec2 .manual .namelabel {
  text-align: left;
  display: block;
 }

 .sec1 .third .step2 {
  display: none;
 }
}

.lds-spinner {
 color: official;
 display: inline-block;
 position: relative;
 width: 64px;
 height: 64px;
}

.lds-spinner div {
 transform-origin: 32px 32px;
 animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
 content: " ";
 display: block;
 position: absolute;
 top: 3px;
 left: 29px;
 width: 5px;
 height: 14px;
 border-radius: 20%;
 background: #fff;
}

.lds-spinner div:nth-child(1) {
 transform: rotate(0deg);
 animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
 transform: rotate(30deg);
 animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
 transform: rotate(60deg);
 animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
 transform: rotate(90deg);
 animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
 transform: rotate(120deg);
 animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
 transform: rotate(150deg);
 animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
 transform: rotate(180deg);
 animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
 transform: rotate(210deg);
 animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
 transform: rotate(240deg);
 animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
 transform: rotate(270deg);
 animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
 transform: rotate(300deg);
 animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
 transform: rotate(330deg);
 animation-delay: 0s;
}

@keyframes lds-spinner {
 0% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}

.spinner-layout {
 display: none;
 width: 100vw;
 height: 100vh;
 background: rgba(0,0,0,0.6);
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
}

.spinner-scrollarea {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}


.sec2 .links3 .link3 {
 border-radius: 50%;
 background: url(/img/usd-symbol.svg) no-repeat center top 20% / 36%, url(/img/usa-flag.svg) no-repeat center top / 60%;
}
.sec2 .links3 .link4 {
 border-radius: 50%;
 background: url(/img/euro-symbol.svg) no-repeat center top 27% / 25%, url(/img/euro-flag.svg) no-repeat center top / 60%;
}

.sec2 .links1 {
 display: flex;
 align-content: flex-start;
 justify-content: center;
}
.sec2 .links1 .link {
 height: auto;
 min-height: 125px;
}
.sec2 .links1 .link6 {
 position: relative;
}
.sec2 .links1 .link6:before {
 content: '';
 width: 100%;
 height: 75px;
 background: url(/img/monobank-logo.png) no-repeat center / 90% auto, #fff;
 box-shadow: 0 0 5px #EDDCBD;
 position: absolute;
 top: 0;
 left: 0;
}

.sec2 .links1 .button2 {
 border: none;
}

.monobank-pay-btn .monobank-pay-btn__parts {
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 margin: 10px 0 20px;
}

.monobank-pay-btn .monobank-pay-btn__parts .monobank-pay-btn__parts_text {
 flex: 1;
 font-size: 13px;
 text-align: left;
}
.monobank-pay-btn .monobank-pay-btn__parts .monobank-pay-btn__parts_select {
 width: 60px;
 text-align: center;
 padding: 0 10px;
 margin: 0;
}

.monobank-pay-btn input, .monobank-form input, .monobank-form select {
 width: 100%;
 display: block;
 color: #0e0f11;
 font-size: 16px;
 height: 36px;
 border: 1px solid rgba(154, 154, 154, .85);
 background-color: #f9f9fe;
 padding-left: 20px;
}
.monobank-pay-btn input:disabled, .monobank-form input:disabled, .monobank-form select:disabled {
 color: rgba(154, 154, 154, .95);
 opacity: 0.6;
}
.monobank-pay-btn input, .monobank-pay-btn .intl-tel-input {
 margin-top: 20px;
}
.monobank-pay-btn .intl-tel-input {
 display: none;
}


#modal-monobank.modal-overlay .modal-content {
 max-width: 920px;
 height: auto;
 padding: 50px;
}

.monobank-form {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.monobank-form .button2 {
 height: auto;
 border: none;
 background-color: #1ac33d;
 color: #fff;
 font-size: 14px;
 line-height: 140%;
 padding: 8px 25px 9px;
 cursor: pointer;
}
.monobank-form .button2.button2--gray {
 background-color: rgba(154, 154, 154, .85);
}
.monobank-form select {
 -webkit-appearance: none;
 background: url(/img/icon-dropdown.svg) no-repeat center right 12px / 12px, #f9f9fe;
 padding-right: 35px;
}

.monobank-form .monobank-form__title {
 background: url(/img/monobank-logo-2.svg) no-repeat center right / contain;
 font-size: 24px;
 line-height: 140%;
 font-family: RobotoBold, sans-serif;
 text-align: center;
 padding-right: 45px;
 margin-bottom: 40px;
}

.monobank-form .monobank-form__submit {
 display: flex;
 align-items: center;
 font-family: RobotoBold, sans-serif;
 font-size: 20px;
 text-transform: uppercase;
 padding: 14px 45px;
 margin-top: 20px;
}
.monobank-form .monobank-form__submit:after {
 content: '';
 width: 28px;
 height: 28px;
 display: block;
 background: url(/img/arrow-right.svg) no-repeat center / contain;
 margin-left: 30px;
}

.monobank-form-parts {
 display: flex;
 align-items: center;
 padding-left: 20px;
 margin-bottom: 20px;
}

.monobank-form-parts .monobank-form-parts__text, .monobank-form-parts .monobank-form-parts__select, .monobank-form-parts .monobank-form-parts__input, .monobank-form-parts .monobank-form-parts__btn, .monobank-form-parts .intl-tel-input {
 margin-right: 20px;
}

.monobank-form-parts .monobank-form-parts__text, .monobank-form-parts .monobank-form-parts__btn {
 min-width: 175px;
}

.monobank-form-parts .monobank-form-parts__text {
 font-size: 16px;
 line-height: 140%;
 font-family: RobotoMedium, sans-serif;
}

.monobank-form-parts .monobank-form-parts__select {
 width: auto;
 min-width: 230px;
}


.monobank-form-disclaimer {
 max-width: 460px;
 font-size: 13px;
 line-height: 130%;
 color: rgba(154, 154, 154, .95);
 text-align: center;
 margin: 60px auto 0;
}

.color-red {
 color: red;
}

@media only screen and (max-width: 1130px) {

 .monobank-form-parts {
  flex-direction: column;
  align-items: center;
  padding: 0;
 }
 .monobank-form-parts .monobank-form-parts__text, .monobank-form-parts .monobank-form-parts__select, .monobank-form-parts .monobank-form-parts__input, .monobank-form-parts .monobank-form-parts__btn, .monobank-form-parts .intl-tel-input {
  margin: 0 0 20px;
 }

 .monobank-form-parts .monobank-form-parts__text, .monobank-form-parts .monobank-form-parts__btn {
  min-width: 230px;
  text-align: center;
 }

}

@media only screen and (max-width: 720px) {

 .sec2 .links1 {
  flex-direction: column;
  align-items: center;
 }

 #modal-monobank.modal-overlay .modal-content {
  width: 90vw;
  padding: 20px;
 }

 .monobank-form-parts .monobank-form-parts__text, .monobank-form-parts .monobank-form-parts__select, .monobank-form-parts .monobank-form-parts__input, .monobank-form-parts .monobank-form-parts__btn, .monobank-form-parts .intl-tel-input {
  min-width: 0;
  width: 100%;
  margin: 0 0 10px;
 }
 .monobank-form-parts .monobank-form-parts__text {
  font-size: 14px;
 }

 .monobank-form .monobank-form__title {
  background: none;
  font-size: 20px;
  padding-right: 0;
 }

 .monobank-form .monobank-form__submit {
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 0;
 }

 .monobank-form-disclaimer {
  font-size: 12px;
  margin-top: 25px;
 }

}