// Navigation
nav.navbar.navbar-default.navbar-static-top.m-b-0
    .navbar-header
        a.navbar-toggle.hidden-sm.hidden-md.hidden-lg(href='javascript:void(0)', data-toggle='collapse', data-target='.navbar-collapse')
            i.ti-menu
        .top-left-part
            a.logo(href='/')
        ul.nav.navbar-top-links.navbar-left.hidden-xs
            li
                a.open-close.hidden-xs.waves-effect.waves-light(href='javascript:void(0)')
                    i.icon-arrow-left-circle.ti-menu
            li
                form.app-search.hidden-xs(role='search')
                    input.form-control(type='text', placeholder='Поиск...')
                    a(href='')
                        i.fa.fa-search

script(src="/js/handlebars.min.js")